name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        BUILD_TARGET: [release]
    steps:
      - uses: actions/checkout@v5
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: build binary
        run: cargo build --profile ${{ matrix.BUILD_TARGET }}
      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: binary
          path: target/${{ matrix.BUILD_TARGET }}/SkelForm
          
